---
---

@import '{{ site.theme }}';

body {
  padding: 0 30px;
}

.container-lg,
.container-xl {
  max-width: 768px;
}

.site-title a {
  color: inherit;
  text-decoration: inherit;
}

.task-list-item-checkbox {
  margin-right: 0.5em;
}
